@font-face{
    font-family: 'Montserrat ExtraLight';
    src: url(../fuentes/Montserrat-ExtraLight.ttf);
}

@font-face{
    font-family: 'Montserrat Thin';
    src: url(../fuentes/Montserrat-Thin.ttf);
}

@font-face{
    font-family: 'Montserrat Black';
    src: url(../fuentes/Montserrat-Black.ttf);
}

@font-face{
    font-family: 'Montserrat';
    src: url(../fuentes/Montserrat-Regular.ttf);
}

body{
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    background: rgb(32,38,48);
    background: linear-gradient(180deg, rgba(32,38,48,1) 14%, rgba(41,50,65,1) 45%, rgba(32,38,48,1) 80%);
    text-align: center;
}

h1{
    font-family: 'Montserrat Black';
    font-size: 350%;
    padding-top: 6%;
}
#logo{
    display:inline-block;
    vertical-align: middle;

    width: 20%;
    height: auto;
}

form{
    border-radius: 80px;
    padding-top: 2%;
    padding-bottom: 7%;
    background: rgba(0, 0, 0, 0.1);
    transition-duration: 1s;
}

form:hover{
    background-color: rgb(236,92,56);
    background-color: linear-gradient(163deg, rgba(236,92,56,1) 45%, rgba(236,65,56,1) 80%);
    button{
        background: rgba(32,38,48);
    }
    #btnLogin{
        color: white;
    }
    input{
        background-color: rgba(32, 38, 48, 0.6);
        color: white;
    }
}

input{
    font-size: 100%;
    font-family: 'Montserrat';
    border-style: none;
    border-radius: 80px;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    transition-duration: 1s;
    color: white;
    background: rgba(236,92,56,0.2)
}

label{
    font-family: 'Montserrat ExtraLight';
    font-size: 120%;
}

.usuario{
    margin-top: 6%;
    margin-bottom: 2%;
}

.clave{
    margin-top: 2%;
    margin-bottom: 2%;
}

button{
    background-color: rgb(236,92,56);
    background-color: linear-gradient(163deg, rgba(236,92,56,1) 45%, rgba(236,65,56,1) 80%);
    border-style: none;
    border: none;
    border-radius: 80px;
    padding: 1em 2em;
    transition-duration: 1s;
}

#btnLogin:hover{
    font-size: 200%;
}

#btnLogin{
    text-decoration: none;
    font-size: 140%;
    font-family: 'Montserrat Black';
    color: white;
    margin-top: 10%;
    transition-duration: 0.3s;
}