@font-face{
    font-family: 'Montserrat ExtraLight';
    src: url(../fuentes/Montserrat-ExtraLight.ttf);
}

@font-face{
    font-family: 'Montserrat Thin';
    src: url(../fuentes/Montserrat-Thin.ttf);
}

@font-face{
    font-family: 'Montserrat Black';
    src: url(../fuentes/Montserrat-Black.ttf);
}

@font-face{
    font-family: 'Montserrat';
    src: url(../fuentes/Montserrat-Regular.ttf);
}

body{
    margin: 0;
    color: white;
    background: rgb(32,38,48);
    background: linear-gradient(180deg, rgba(32,38,48,1) 14%, rgba(41,50,65,1) 45%, rgba(32,38,48,1) 80%);
}

#contenido {
    margin-left: 90px;
    margin-right: 90px;
    font-family: 'Montserrat ExtraLight';
}

h1{
    font-family: 'Montserrat Black';
}

hr{
    border-color: #ec5c38;
    transition-duration: 0.7s;
}

header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: rgb(236,92,56);
    background: linear-gradient(180deg, rgba(236,92,56,0.95) 40%, rgba(236,65,56,0) 130%);
    transition-duration: 0.6s;
}
#logo{
    vertical-align: middle;
    margin-left: 15%;
    margin-right: 5%;
    width: 6%;
    height: auto;
}
header:hover{
    background-color: rgb(236,92,56);
}

.barraNavegacion{
    display: flex;
}
.menu {
    color: white;
    font-family: 'Montserrat Thin';
    font-size: 150%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 5%;
    width: 10em;
    background: none;
    margin-right: 60px;
    transition-duration: 0.3s;
}
.menu:hover{
    color: #171b24;
    font-family: 'Montserrat';
}

#item1{
    margin-right: 50px;
}

#instruccion{
    margin-right: 100px;
    margin-left: 100px;
}

#nombres{
    margin-right: 3em;
    background-color: #202630;
    border-color: #ec5c38;
    border-style: solid;
    border-radius: 5px;
    padding: 0.5em 0.5em;
    border-width: 1px;
    color: white;
}

#apellidos{
    background-color: #202630;
    border-color: #ec5c38;
    border-style: solid;
    border-radius: 5px;
    padding: 0.5em 0.5em;
    border-width: 1px;
    color: white;
}

#cedula{
    margin-right: 6em;
    background-color: #202630;
    border-color: #ec5c38;
    border-style: solid;
    border-radius: 5px;
    padding: 0.5em 0.5em;
    border-width: 1px;
    color: white;
}

#contacto{
    background-color: #202630;
    border-color: #ec5c38;
    border-style: solid;
    border-radius: 5px;
    padding: 0.5em 0.5em;
    border-width: 1px;
    color: white;
}
input{
    transition-duration: 1s;
}

select{
    border: none;
    font-family: 'Montserrat';
    font-size: 15px;
    color: white;
    background-color: #ec5c38;
    padding: 0.5em 0.3em;
    border-radius: 10px;
    cursor: pointer;
}

input[type="checkbox"]{
    cursor: pointer;
}

#fechaInicio{
    border-style: none;
    padding: 0.5em 0.1em;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    background-color: #ec5c38;
    margin-right: 3em;
}

#fechaFinal{
    border-style: none;
    padding: 0.5em 0.1em;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    background-color: #ec5c38;
}

#extras{
    background: rgb(32,38,48);
    background: linear-gradient(90deg, rgba(32,38,48,0) 20%, rgba(0,0,0,0.13489145658263302) 50%, rgba(32,38,48,0) 80%);
    padding: 1em 0;
}

footer{
    text-align: center;
    font-family: 'Montserrat';
}

footer:hover{
    hr{
        border-color: white;
    }
}

#introduccion{
    text-align: center;
    padding-top: 4%;
    font-size: 1.5em;
}

#aviso{
    color: rgb(184, 162, 143);
}

.datos{
    text-align: center;
}

label{
    margin-right: 25px;
}

.aux{
    margin-right: 10px;
}

#reservacion{
    background: none;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 50px;
    text-align: center;
}

.slider{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
    width: 80%;
    height: auto;
    overflow: hidden;
    transition-duration: 0.4s;
}

.slider:hover{
    width: 85%;
    box-shadow: 0 0 60px 1px#ec5c38;
}

.slider ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 800%;
    animation: slide 24s infinite;
}

.slider il{
    list-style: none;
    width: 100%;
    height: auto;
}

.slider img{
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    30%{margin-left: -100%;}

    35%{margin-left: -200%;}
    40%{margin-left: -200%;}

    45%{margin-left: -300%;}
    50%{margin-left: -300%;}

    55%{margin-left: -400%;}
    60%{margin-left: -400%;}

    65%{margin-left: -500%;}
    70%{margin-left: -500%;}

    75%{margin-left: -600%;}
    80%{margin-left: -600%;}

    85%{margin-left: -700%;}
    90%{margin-left: -700%;}
}

#btnConsulta{
    font-family: 'Montserrat Black';
    font-size: 1.5em;
    border-style: none;
    background-color: #ec5c38;
    padding: 0.5em 1.5em;
    border-radius: 25px;
    cursor: pointer;
}

#btnConsulta:hover{
    font-size: 1.6em;
    background: rgb(236,92,56);
    background: linear-gradient(163deg, rgba(236,92,56,1) 45%, rgba(236,65,56,1) 80%);
}

#botonConsulta{
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}


