@font-face{
    font-family: 'Montserrat ExtraLight';
    src: url(../fuentes/Montserrat-ExtraLight.ttf);
}

@font-face{
    font-family: 'Montserrat Thin';
    src: url(../fuentes/Montserrat-Thin.ttf);
}

@font-face{
    font-family: 'Montserrat Black';
    src: url(../fuentes/Montserrat-Black.ttf);
}

@font-face{
    font-family: 'Montserrat';
    src: url(../fuentes/Montserrat-Regular.ttf);
}

body{
    margin: 0;
    color: white;
    background: rgb(32,38,48);
    background: linear-gradient(180deg, rgba(32,38,48,1) 14%, rgba(41,50,65,1) 45%, rgba(32,38,48,1) 80%);
}

h1{
    font-family: 'Montserrat Black';
}

h2{
    font-family: 'Montserrat Black';
    font-size: 60px;
}

p{
    font-family: 'Montserrat';
}

hr{
    border-color: #ec5c38;
    transition-duration: 0.7s;
}

header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
    background: rgb(236,92,56);
    background: linear-gradient(180deg, rgba(236,92,56,0.95) 40%, rgba(236,65,56,0) 130%);
    transition-duration: 0.6s;
}
#logo{
    vertical-align: middle;
    margin-left: 15%;
    margin-right: 5%;
    width: 6%;
    height: auto;
}
header:hover{
    background-color: rgb(236,92,56);
}

.barraNavegacion{
    display: flex;
}
.menu {
    color: white;
    font-family: 'Montserrat Thin';
    font-size: 150%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 5%;
    width: 10em;
    background: none;
    margin-right: 60px;
    transition-duration: 0.3s;
}
.menu:hover{
    color: #171b24;
    font-family: 'Montserrat';
}

#item1{
    margin-right: 50px;
}

section{
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    vertical-align: middle;
    padding: 1% 5%;    
    border-radius: 100px;
    text-align: center;
    transition-duration: 0.6s;
}

section:hover{
    background-color: rgb(236,92,56);
    background-color: linear-gradient(163deg, rgba(236,92,56,1) 45%, rgba(236,65,56,1) 80%);
    color: #1e2430;
}

footer{
    text-align: center;
    font-family: 'Montserrat';
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer:hover{
    hr{
        border-color: white;
        transition-duration: 0.7s;
    }
}